{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica&family=Josefin+Sans:wght@700&family=Open+Sans&family=Plus+Jakarta+Sans&family=Poppins:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <div class="d1">
        <a href="/" class="a1">Home</a>
        <a href="/bookings"class="a1">Bookings</a>
        <a href="/about"class="a1">About</a>
        <a href="/contact"class="a1">Contact</a>
        {% if user.is_authenticated %}
        <a href="" class="alog">{{user.username}}</a>
        <a href="/logout" class="logout">logout</a>
        {% else %}
        <a href="/login"class="alog">Login</a>
        {%endif%}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h2 class="ch">Name</h2>
        {% render_field  form.name  class="fname" %}<br>
        <h2 class="ch2">Email</h2>
        {% render_field  form.email  class="fmail" %}<br>
        <h2 class="ch3">Enter your message</h2>
        {% render_field  form.message  class="fmsg" %}<br>
        <input type="submit" class="submit" value="Submit">
        <input type="button" value="Cancel" class="cancel">

    </form>