*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url("/static/images/b3.jpg");
    background-size: 1366px 720px;
}


.d1
{
    background-color: transparent;
    width: 100%;
    height: 50px;
    display: flex;
}

.a1
{
    margin: 2% 0 0 5%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: rgb(10, 9, 9);
}
.a1:hover
{
    color: rgb(140, 140, 255);
}
.alog
{
    margin: 2% 0 0 51%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: rgb(8, 7, 7);
}
.alog:hover
{
    color: rgb(134, 134, 255); 
}
.logout
{
    margin: 2% 0 0 2%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: rgb(8, 7, 7);
}
.logout:hover
{
    color: rgb(134, 134, 255); 
}
.pg
{
    font-size: xx-large;
    margin: 5% 15% 0 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}